Flask == 2.2.5
Keras == 2.3.1
itsdangerous == 1.1.0
Jinja2 == 2.11.3
MarkupSafe == 1.1.1
Werkzeug == 2.2.3
numpy == 1.22.0
opencv_python == 4.2.0.32
gunicorn == 19.9.0
Flask_SocketIO == 4.2.1
Pillow == 10.0.1
eventlet == 0.31.0
tensorflow
requests==2.31.0
h5py==2.8.0
